:root.theme-dark {
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #000028;
  --corner-color: #FF0070;
  --menu-text-color: #FF0070;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  --main-text-color: #F1B2CE;
  --outline-color: rgba(241, 178, 206, 1);
}
