
*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  min-inline-size: 375px;
  max-inline-size: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
