:root.theme-light {
  --background-color: #FFF1F7;
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --corner-color: #353430;
  --menu-text-color: #353430;
  --menu-hover-color: rgba(50, 49, 45, 0.4);
  --main-text-color: #353430;
  --outline-color: #353430;
}

.theme-light .header__decor-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --background-color: #FFF1F7;
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --corner-color: #353430;
    --menu-text-color: #353430;
    --menu-hover-color: rgba(50, 49, 45, 0.4);
    --main-text-color: #353430;
    --outline-color: #353430;
  }
  
  :root:not(.theme-dark) .header__decor-text {
    display: none;
  }
  
  :root:not(.theme-dark) .header__theme-menu-button:hover {
    border: 1px solid var(--menu-hover-color, rgba(50, 49, 45, 0.4));
  }
  
  :root:not(.theme-dark) .special__description:hover {
    outline: var(--text-color, #353430);
  }
}
