:root.theme-light {
  --background-color: #FFF1F7;
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --corner-color: #353430;
  --menu-text-color: #353430;
  --menu-hover-color: rgba(53, 52, 48, 0.4);
  --main-text-color: #353430;
  --outline-color: #353430;
}

.theme-light .header__decor-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page.theme-auto {
    --background-color: var(--background-color-light);
    --background-image: var(--background-light-theme);
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --corner-color: #353430;
    --menu-text-color: #353430;
    --menu-hover-color: rgba(53, 52, 48, 0.4);
    --main-text-color: #353430;
    --outline-color: #353430;
  }
  
  .theme-auto .header__decor-text {
    display: none;
  }
  
  .page.theme-auto .header__theme-menu-button:hover {
    border: 1px solid var(--menu-hover-color, rgba(53, 52, 48, 0.4));
  }
  
  .page.theme-auto .special__description:hover {
    outline: var(--text-color, #353430);
  }
}

