:root.theme-light {
  --background-color: #FFF1F7;
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --corner-color: #353430;
  --menu-text-color: #353430;
  --menu-hover-color: rgba(53, 52, 48, 0.4);
  --main-text-color: #353430;
  --outline-color: #353430;
}

.theme-light .header__decor-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --corner-color: #353430;
    --menu-text-color: #353430;
    --menu-hover-color: rgba(53, 52, 48, 0.4);
    --main-text-color: #353430;
    --outline-color: #353430;
  }

  .theme-auto .header__decor-text {
    display: none;
  }
}
